<%- include('header') %>


    <section class="d-flex flex-column align-items-center vh-100">
        <div class="mt-4">
            <h1>S'enregistrer</h1>
            <form action="/user/register" method="post">
                <label for="email">Email</label>
                <input type="email" name="email">

                <label for="password">Mot de passe</label>
                <input type="password" name="password">

                <input type="submit" value="S'enregistrer">
            </form>
        </div>



        <div class="mt-4">
            <h1>Se connecter</h1>
            <form action="/user/login" method="post">
                <label for="email">Email</label>
                <input type="email" name="email">

                <label for="password">Mot de passe</label>
                <input type="password" name="password">

                <input type="submit" value="Se connecter">
            </form>
        </div>
    </section>

    <%- include('footer') %>